.upload-drop-zone {
    height: 200px;
    border-width: 2px;
    margin-bottom: 20px;
}
.upload-drop-zone {
    color: #ccc;
    border: 3px dashed #cccccc;
}
.upload-drop-zone.drop {
    color: #0097ff;
    border-color: #0097ff;
}
.upload-drop-zone .drop-zone-message{
    width: 300px;
    text-align: center;
    font-size: 25px;
    line-height: 200px;
}

.upload-drop-zone .drop-zone-info{
}

.upload-drop-zone .drop-zone-info .file-type{
    width: 80px;
    text-align: center;
    font-size: 40px;
    margin-top: 20px;
}
.upload-drop-zone .drop-zone-info .file-path{
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
}